@charset "UTF-8";
/***
  * My personal styles and overrides
  *
  * Websites:
  *   * YourOnly.One™: https://YourOnly.One
  *
  * Contact:
  *   * Fediverse: https://quey.org/@techmagus | @techmagus@quey.org
  *   * Facebook: https://fb.me/techmagus | https://m.me/techmagus
***/

/***
  * yuki-style.css Copyright © 2003-2023 JC John Sese Cuneta
  *
  * Licenses: [1] MIT/Expat License; [2] MPL v2.0; [3] LGPLv3
  *
  * LICENSE: MIT License / Expat License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
  *
  * LICENSE: Mozilla Public License Version 2.0 ("MPL 2.0")
  *   This Source Code Form is subject to the terms of the Mozilla Public
  *   License, v. 2.0. If a copy of the MPL was not distributed with this
  *   file, You can obtain one at http://mozilla.org/MPL/2.0/.
  *
  * LICENSE: GNU LESSER GENERAL PUBLIC LICENSE Version 3 ("LGPLv3")
  *   This program is free software: you can redistribute it and/or modify
  *   it under the terms of the Lesser GNU General Public License as published by
  *   the Free Software Foundation, either version 3 of the License, or
  *   (at your option) any later version.
  *
  *   This program is distributed in the hope that it will be useful,
  *   but WITHOUT ANY WARRANTY; without even the implied warranty of
  *   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  *   Lesser GNU General Public License for more details.
  *
  *   You should have received a copy of the Lesser GNU General Public License
  *   along with this program.  If not, see <http://www.gnu.org/licenses/>.
***/

/***
  * Other Attributions
  *
  * Embed Responsively: embedresponsively.com
  * Fork-Awesome
  * Twemoji
  * Cryptocoins (webfont/svg): https://github.com/AllienWorks/cryptocoins
***/

/***
  * Based on:
  *
  *   * CSS Color Module Level 4
  *      * WD, 2016-07-05
  *      * https://www.w3.org/TR/css-color-4/
  *      * https://developer.mozilla.org/en-US/docs/Web/CSS/color_value/hwb
  *      * See: hwb()
  *   * CSS Color Module Level 3
  *      * REC, 2018-06-19
  *      * https://www.w3.org/TR/css-color-3/
  *
  *   * CSS Fonts Module Level 4
  *      * WD, 2018-09-20
  *      * https://www.w3.org/TR/css-fonts-4/
  *      * See: see paninap-fonts.css
  *   * CSS Fonts Module Level 3
  *      * REC, 2018-09-20
  *      * https://www.w3.org/TR/css-fonts-3/
  *
  *   * CSS Text Decoration Module Level 4
  *      * WD, 2018-03-13
  *      * https://www.w3.org/TR/css-text-decor-4/
  *      * See: text-decoration-skip -- not using currently
  *   * CSS Text Decoration Module Level 3
  *      * CR, 2018-07-03
  *      * https://www.w3.org/TR/css-text-decor-3/
  *      * See: text-decoration property
  *
  *   * CSS Custom Properties for Cascading Variables Module Level 1
  *      * CR, 2015-12-03
  *      * https://www.w3.org/TR/css-variables/
  *      * See: --font-sans and --font-serif, and var()
  *
  *   * Selectors Level 4
  *      * WD, 2018-11-21
  *      * https://www.w3.org/TR/selectors-4/
  *      * See: :dir() and :lang("*-Latn")
  *   * Selectors Level 3
  *      * REC, 2018-11-06
  *      * https://www.w3.org/TR/selectors-3/
  *      * See: :root, :first-child, :last-child
  *
***/

/***************
** BGN: :root **
***************/
  /***
    * Format:
    *   font-family: var(--CATEGORY-LANG/SCRIPT-VERSION-MOD);
    *   font-family: var(--font-pilipino-yelosan);
    *   font-family: var(--icon-creativecommons);
  ***/
  :root {
    -webkit-font-kerning: normal;
            font-kerning: normal;

    /* font-synthesis: */ /* only set per class/font/:lang() */
    /* font-variant-alternates: */ /* only set per class/font/:lang() */
    /* font-variant-caps: */ /* only set per class/font/:lang() */
    /* font-variant-east-asian: */ /* only set per class/font/:lang() */
    font-variant-emoji: unicode;
    /* font-variant-ligatures: */ /* only set per class/font/:lang() */
    font-variant-numeric: slashed-zero tabular-nums oldstyle-nums;
    /* font-variant-position: */ /* only set per class/font/:lang() */

    text-rendering: optimizeLegibility; /* for browsers that does not support geometricPrecision */
    text-rendering: geometricPrecision; /* only major browsers support this */
  }
/***************
** END: :root **
***************/

/**************
** BGN: LANG **
**************/
  /**
  * This is not a duplicate, this is where we customise the default fonts.
  **/
  /* :root, *, html, body, */
  :lang(en) {
    font-family: var(--font-sans-noto, var(--font-pilipino-sans-noto, var(--font-hebr-sans-noto, sans-serif)));
  }

  :lang(zh),
  :lang(zh-Hant) {
    font-family: var(--font-hant-sans-noto, var(--font-pilipino-sans-noto, var(--font-hebr-sans-noto, sans-serif)));
  }
  :lang(zh-Hans) {
    font-family: var(--font-hans-sans-noto, var(--font-pilipino-sans-noto, var(--font-hebr-sans-noto, sans-serif)));
  }

  :lang(ja) {
    font-family: var(--font-kana-sans-noto, var(--font-pilipino-sans-noto, var(--font-hebr-sans-noto, sans-serif)));
  }

  :lang(ko) {
    font-family: var(--font-hang-sans-noto, var(--font-pilipino-sans-noto, var(--font-hebr-sans-noto, sans-serif)));
  }

  :lang(he), :lang(heb), :lang(hbo) {
    font-family: var(--font-hebr-sans-noto, var(--font-pilipino-sans-noto, sans-serif));
  }
/**************
** END: LANG **
**************/
