/***
  * Webfonts CSS
  *
  * Websites:
  *   * Profile: https://iam.youronly.one
  *   * YourOnly.One™: https://youronly.one
  *   * Yelosan Publishing: https://yelosan.youronly.one
  *
  * Contact:
  *   * Fediverse: https://c.im/@youronlyone | @youronlyone@c.im
  *   * Facebook: https://fb.me/YourOnly.ONE.ofcl | https://m.me/YourOnly.ONE.ofcl
***/

/***
  * yelosan-fonts.css Copyright © 2023 JC John Sese Cuneta; Yelosan Publishing
  *
  * License: MIT License (MIT)
  *
  * LICENSE: MIT License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
***/

/** BGN: Noto Sans **/
  /*
  @font-face {
    font-family: "noto-sans";
    src:  local("Noto Sans"),
          url("../fonts/NotoSans-Regular.otf") format("opentype"),
          url("../fonts/NotoSans-Regular.ttf") format("truetype");
    font-display: swap;
    font-style: normal;
    font-weight: normal;
  }
  */
/** END: Noto Sans **/

/** BGN: root and classes **/
  /*
  * 1. If the font is not a subset, the base font has to be declared first.
  *   Example, we need Noto Sans to ensure the Latin scripts still have font-weight when mixed with non-Latin Noto fonts.
  * 2. Do not use var(), it will not work correctly.
  */
  :root {
    --font-hans-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK SC", "Noto Sans SC";
    --font-hant-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK TC", "Noto Sans TC";
    --font-hant-hk-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK HK", "Noto Sans HK";
    --font-bopo-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK TC", "Noto Sans TC";
    --font-hans-sans-noto-fangsong-rotated: "noto-sans", "Noto Sans", "Noto Fangsong KSS Rotated";
    --font-hans-sans-noto-fangsong-vertical: "noto-sans", "Noto Sans", "Noto Fangsong KSS Vertical";

    --font-kana-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK JP", "Noto Sans JP";
    --font-hang-sans-noto: "noto-sans", "Noto Sans", "Noto Sans CJK KR", "Noto Sans KR";
    --font-kana-serif-noto: "noto-serif", "Noto Serif", "Noto Serif CJK JP", "Noto Serif JP";
    --font-hang-serif-noto: "noto-serif", "Noto Serif", "Noto Serif CJK KR", "Noto Serif KR";
  }
  .font-hans-sans-noto-fangsong-rotated {
    font-family: var(--font-hans-sans-noto-fangsong-rotated);
  }
  .font-hans-sans-noto-fangsong-vertical {
    font-family: var(--font-hans-sans-noto-fangsong-vertical);
  }
  .font-hans-sans-noto {
    font-family: var(--font-hans-sans-noto), sans-serif;
  }
  .font-hant-sans-noto {
    font-family: var(--font-hant-sans-noto), sans-serif;
  }
  .font-jpan-sans-noto, /* backwards compatibility */
  .font-kana-sans-noto {
    font-family: var(--font-kana-sans-noto), sans-serif;
  }
  .font-kana-serif.noto {
    font-family: var(--font-kana-serif-noto), serif;
  }
  .font-kore-sans-noto, /* backwards compatibility */
  .font-hang-sans-noto {
    font-family: var(--font-hang-sans-noto), sans-serif;
  }
  .font-hang-serif-noto {
    font-family: var(--font-hang-serif-noto), serif;
  }
/** END: :root and classes **/

    /* BGN: Hanzi (Traditional & Simple) */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not (selector(:lang(yue, zh))) {
          :lang(yue),
          :lang(zh) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
            /* font-variant-east-asian: */ /* Don't set this. Use -Hant or -Hans instead. */
          }
        }
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      @supports selector(:lang(yue, zh)) {
        :lang(yue, zh) {
          direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
          font-style: normal; /* ensure there are no italic and oblique styles */
          font-synthesis: weight; /* only allow 'bold' synthesis */
          /* font-variant-east-asian: */ /* Don't set this. Use -Hant or -Hans instead. */
        }
      }

      :lang(zh-Hans) {
        font-language-override: "ZHS";
        font-variant-east-asian: simplified full-width;
      }
      :lang(zh-Hant) {
        font-language-override: "ZHT";
        font-variant-east-asian: traditional full-width;
      }
      :lang(zh-Hant-HK) {
        font-language-override: "ZHH";
      }
      :lang(zh-Bopo) {
        /* font-language-override: "ZHT"; */
      }
    /* END: Hanzi (Traditional & Simple) */

    /* BGN: Nihongo (Kana) */
      :lang(ja) {
        direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
        font-language-override: "JAN";
        font-style: normal; /* ensure there are no italic and oblique styles */
        font-synthesis: weight; /* only allow 'bold' synthesis */
        font-variant-east-asian: jis04 full-width;
      }
    /* END: Nihongo (Kana) */

    /* BGN: Hangugeo (Hangeul) */
      :lang(ko) {
        direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
        font-language-override: "KOR";
        font-style: normal; /* ensure there are no italic and oblique styles */
        font-synthesis: weight; /* only allow 'bold' synthesis */
        font-variant-east-asian: full-width;
      }
    /* END: Hangugeo (Hangeul) */
