/***
  * Webfonts CSS
  *
  * Websites:
  *   * Profile: https://iam.youronly.one
  *   * YourOnly.One™: https://youronly.one
  *   * Yelosan Publishing: https://yelosan.youronly.one
  *
  * Contact:
  *   * Fediverse: https://c.im/@youronlyone | @youronlyone@c.im
  *   * Facebook: https://fb.me/YourOnly.ONE.ofcl | https://m.me/YourOnly.ONE.ofcl
***/

/***
  * yelosan-fonts.css Copyright © 2023 JC John Sese Cuneta; Yelosan Publishing
  *
  * License: MIT License (MIT)
  *
  * LICENSE: MIT License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
***/

  /** BGN: noto-sans **/
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-Regular.otf") format("opentype"),
            url("../fonts/NotoSans-Regular.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-Bold.otf") format("opentype"),
            url("../fonts/NotoSans-Bold.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      font-weight: bold;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-Italic.otf") format("opentype"),
            url("../fonts/NotoSans-Italic.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      font-style: italic;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-Italic.otf") format("opentype"),
            url("../fonts/NotoSans-Italic.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      font-style: oblique;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-BoldItalic.otf") format("opentype"),
            url("../fonts/NotoSans-BoldItalic.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      font-style: italic;
      font-weight: bold;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans";
      src:  url("../fonts/NotoSans-BoldItalic.otf") format("opentype"),
            url("../fonts/NotoSans-BoldItalic.ttf") format("truetype"),
            local("Noto Sans");
      font-display: swap;
      font-style: oblique;
      font-weight: bold;
      size-adjust: 100%;
    }
  /** END: noto-sans **/

  /** BGN: noto-serif **/
    /*
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-Regular.otf") format("opentype"),
            url("../fonts/NotoSerif-Regular.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-Bold.otf") format("opentype"),
            url("../fonts/NotoSerif-Bold.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      font-weight: bold;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-Italic.otf") format("opentype"),
            url("../fonts/NotoSerif-Italic.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      font-style: italic;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-Italic.otf") format("opentype"),
            url("../fonts/NotoSerif-Italic.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      font-style: oblique;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-BoldItalic.otf") format("opentype"),
            url("../fonts/NotoSerif-BoldItalic.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      font-style: italic;
      font-weight: bold;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-serif";
      src:  url("../fonts/NotoSerif-BoldItalic.otf") format("opentype"),
            url("../fonts/NotoSerif-BoldItalic.ttf") format("truetype"),
            local("Noto Serif");
      font-display: swap;
      font-style: oblique;
      font-weight: bold;
      size-adjust: 100%;
    }
    */
  /** END: noto-serif **/

  /** BGN: noto-sans-mono **/
    @font-face {
      font-family: "noto-sans-mono";
      src:  url("../fonts/NotoSansMono-Regular.ttf") format("opentype"),
            url("../fonts/NotoSansMono-Regular.ttf") format("truetype"),
            local("Noto Sans Mono"),
            local("Noto Mono"); /* old name */
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "noto-sans-mono";
      src:  url("../fonts/NotoSansMono-Bold.ttf") format("opentype"),
            url("../fonts/NotoSansMono-Bold.ttf") format("truetype"),
            local("Noto Sans Mono"),
            local("Noto Mono"); /* old name */
      font-display: swap;
      font-weight: bold;
      size-adjust: 100%;
    }
  /** END: noto-sans-mono **/

/** BGN: root and classes **/
  :root {
    --font-sans-noto: "noto-sans", "Noto Sans";
    --font-serif-noto: "noto-serif", "Noto Serif";
    --font-mono-sans-noto: "noto-sans-mono", "Noto Sans Mono", "Noto Mono";

    --font-latn-sans-noto: "noto-sans", "Noto Sans";
  }
  .font-sans-noto {
    font-family: var(--font-sans-noto), sans-serif;
  }
  .font-serif-noto {
    font-family: var(--font-serif-noto), serif;
  }
  .font-mono-sans-noto {
    font-family: var(--font-mono-sans-noto), monospace, monospace;
  }
/** END: :root and classes **/

/* BGN: Catch all English */
  :lang(en) {
    direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
    font-language-override: "ENG";
    font-synthesis: revert;
  }
/* END: Catch all English */
