/***
  * Webfonts CSS
  *
  * Websites:
  *   * Profile: https://iam.youronly.one
  *   * YourOnly.One™: https://youronly.one
  *   * Yelosan Publishing: https://yelosan.youronly.one
  *
  * Contact:
  *   * Fediverse: https://c.im/@youronlyone | @youronlyone@c.im
  *   * Facebook: https://fb.me/YourOnly.ONE.ofcl | https://m.me/YourOnly.ONE.ofcl
***/

/***
  * yelosan-fonts.css Copyright © 2003-2023 JC John Sese Cuneta; Yelosan Publishing
  *
  * License: MIT License (MIT)
  *
  * LICENSE: MIT License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
***/

/***
  * Baybayin Unicode Fonts License:
  *   Paul Morrow, All Rights Reserved: http://www.mts.net/~pmorrow/fonts.htm
  *   Norman de los Santos ("Nordenx"), All Rights Reserved: http://nordenx.blogspot.com and http://nordenx.deviantart.com
  *   Permission granted for use in my sites only.
  *   font-face version based on: fontsquirrel.com which was based on the work of Paul Irish.
***/

/***
  * Other Attributions
  *
  * Barabara: https://itsmorefuninthephilippines.com
***/

  /** BGN: Noto Baybayin **/
    @font-face {
      font-family: "baybayin-noto";
      src:  url("../fonts/NotoSansBuhid-Regular.otf") format("opentype"),
            url("../fonts/NotoSansBuhid-Regular.ttf") format("truetype"),
            local("Noto Sans Buhid");
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "baybayin-noto";
      src:  url("../fonts/NotoSansHanunoo-Regular.otf") format("opentype"),
            url("../fonts/NotoSansHanunoo-Regular.ttf") format("truetype"),
            local("Noto Sans Hanunoo");
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "baybayin-noto";
      src:  url("../fonts/NotoSansTagalog-Regular.otf") format("opentype"),
            url("../fonts/NotoSansTagalog-Regular.ttf") format("truetype"),
            local("Noto Sans Tagalog");
      font-display: swap;
      size-adjust: 100%;
    }
    @font-face {
      font-family: "baybayin-noto";
      src:  url("../fonts/NotoSansTagbanwa-Regular.otf") format("opentype"),
            url("../fonts/NotoSansTagbanwa-Regular.ttf") format("truetype"),
            local("Noto Sans Tagbanwa");
      font-display: swap;
      size-adjust: 100%;
    }
  /** END: Noto Baybayin **/

  /** BGN: Nordenx Baybayin **/
    @font-face {
      font-family: "baybayin-nordenx";
      src:  url("../fonts/baybayinmangyanbuhid-webfont.woff2") format("woff2"),
            url("../fonts/baybayinmangyanbuhid-webfont.woff") format("woff"),
            url("../fonts/baybayinmangyanbuhid-webfont.ttf") format("opentype"),
            local("Baybayin Mangyan Buhid"), /* full font name */
            local("BaybayinMangyanBuhid"); /* Postscript name */
      font-display: swap;
      unicode-range: U+1740-175F, U+1714, U+1734-1736, U+20B1;
    }
    @font-face {
      font-family: "baybayin-nordenx";
      src:  url("../fonts/baybayinmangyanhanubrush-webfont.woff2") format("woff2"),
            url("../fonts/baybayinmangyanhanubrush-webfont.woff") format("woff"),
            url("../fonts/baybayinmangyanhanubrush-webfont.ttf") format("opentype"),
            local("Baybayin Mangyan Hanubrush"), /* full font name */
            local("BaybayinMangyanHanubrush"); /* Postscript name */
      font-display: swap;
      unicode-range: U+1720-173F, U+1714, U+20B1;
    }
    @font-face {
      font-family: "baybayin-nordenx";
      src:  url("../fonts/baybayintagalogmodernclub-webfont.woff2") format("woff2"),
            url("../fonts/baybayintagalogmodernclub-webfont.woff") format("woff"),
            url("../fonts/baybayintagalogmodernclub-webfont.ttf") format("opentype"),
            local("Baybayin Modern Club"), /* full font name */
            local("BaybayinModernClub"); /* Postscript name */
      font-display: swap;
      unicode-range: U+1700-171F, U+1734-1736, U+20B1;
    }
  /** END: Nordenx Baybayin **/

  /** BGN: Barabara **/
    @font-face {
      font-family: "barabara";
      src:  url("../fonts/barabara-unicode-webfont.woff2") format("woff2"),
            url("../fonts/barabara-unicode-webfont.woff") format("woff"),
            url("../fonts/barabara-unicode-webfont.ttf") format("opentype"),
            local("BARABARA"); /* full font name */
      font-display: swap;
      size-adjust: 100%;
    }
  /** END: Barabara **/

/** BGN: :root and classes **/
  /*
  * 1. If the font is not a subset, the base font has to be declared first.
  *   Example, we need Noto Sans to ensure the Latin scripts still have font-weight when mixed with non-Latin Noto fonts.
  * 2. Do not use var(), it will not work correctly.
  */
  :root {
    --font-pilipino-sans-noto: "noto-sans", "Noto Sans", "baybayin-noto", "Noto Sans Buhid", "Noto Sans Hanunoo", "Noto Sans Tagalog", "Noto Sans Tagbanwa"; /* Different Unicode blocks. */
    --font-baybayin-sans-noto: "noto-sans", "Noto Sans", "baybayin-noto", "Noto Sans Buhid", "Noto Sans Hanunoo", "Noto Sans Tagalog", "Noto Sans Tagbanwa"; /* Different Unicode blocks. */
    --font-baybayin-nordenx: "baybayin-nordenx"; /* subset font */
    --font-latn-fantasy-barabara: "barabara";
  }
  .font-baybayin-sans-noto.font-baybayin-sans-noto.font-baybayin-sans-noto, /* backwards compatibility */
  .font-pilipino-sans-noto.font-pilipino-sans-noto.font-pilipino-sans-noto {
    direction: ltr;
    font-family: var(--font-pilipino-sans-noto), sans-serif;
  }
  .font-baybayin-nordenx.font-baybayin-nordenx.font-baybayin-nordenx {
    direction: ltr;
    font-family: var(--font-pilipino-nordenx);
  }
  .font-barabara-fantasy.font-barabara-fantasy.font-barabara-fantasy,
  .font-latn-fantasy-barabara {
    direction: ltr;
    font-family: var(--font-latn-fantasy-barabara), fantasy;
  }
/** END: :root and classes **/

    /* BGN: Pilipino */
      /* BGN: Pilipino in Latin script */
        /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
          @supports not (selector(:lang(phi, fil, en-PH))) {
            :lang(pag), :lang(pam), :lang(war), :lang(bik), :lang(hil), :lang(ilo), :lang(ceb),
            :lang(tbw), :lang(bku), :lang(hnn), :lang(tl),
            :lang(phi), :lang(fil), :lang(en-PH) {
              direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
              font-language-override: "PIL";
              font-style: revert;
              font-synthesis: revert;
              font-variant-east-asian: full-width;
            }
          }
        /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

        @supports selector(:lang(phi, fil, en-PH)) {
          :lang(pag, pam, war, bik, hil, ilo, ceb),
          :lang(tbw, bku, hnn, tl),
          :lang(phi, fil, en-PH) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
            font-language-override: "PIL";
            font-style: revert;
            font-synthesis: revert;
            font-variant-east-asian: full-width;
          }
        }
      /* END: Pilipino in Latin script */

      /* BGN: Pilipino in Baybayin script */
        /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
          @supports not ((selector(:lang(phi-Tglg, fil-Tglg))) and (selector(:lang("\*-Tglg")))) {
            :lang(pag-Tglg), :lang(pam-Tglg), :lang(war-Tglg), :lang(bik-Tglg), :lang(hil-Tglg), :lang(ilo-Tglg), :lang(ceb-Tglg),
            :lang(tbw-Tglg), :lang(bku-Tglg), :lang(hnn-Tglg), :lang(tl-Tglg),
            :lang(phi-Tglg), :lang(fil-Tglg) {
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
            }
          }
          @supports not ((selector(:lang(phi-Hano, fil-Hano))) and (selector(:lang("\*-Hano")))) {
            :lang(pag-Hano), :lang(pam-Hano), :lang(war-Hano), :lang(bik-Hano), :lang(hil-Hano), :lang(ilo-Hano), :lang(ceb-Hano),
            :lang(tbw-Hano), :lang(bku-Hano), :lang(hnn-Hano), :lang(tl-Hano),
            :lang(phi-Hano), :lang(fil-Hano) {
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
            }
          }
          @supports not ((selector(:lang(phi-Buhd, fil-Buhd))) and (selector(:lang("\*-Buhd")))) {
            :lang(pag-Buhd), :lang(pam-Buhd), :lang(war-Buhd), :lang(bik-Buhd), :lang(hil-Buhd), :lang(ilo-Buhd), :lang(ceb-Buhd),
            :lang(tbw-Buhd), :lang(bku-Buhd), :lang(hnn-Buhd), :lang(tl-Buhd),
            :lang(phi-Buhd), :lang(fil-Buhd) {
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
            }
          }
          @supports not ((selector(:lang(phi-Tagb, fil-Tagb))) and (selector(:lang("\*-Tagb")))) {
            :lang(pag-Tagb), :lang(pam-Tagb), :lang(war-Tagb), :lang(bik-Tagb), :lang(hil-Tagb), :lang(ilo-Tagb), :lang(ceb-Tagb),
            :lang(tbw-Tagb), :lang(bku-Tagb), :lang(hnn-Tagb), :lang(tl-Tagb),
            :lang(phi-Tagb), :lang(fil-Tagb) {
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
            }
          }

          /* BGN: :lang(C, C, C) */
            @supports (selector(:lang(phi-Tglg, fil-Tglg))) and (not (selector(:lang("\*-Tglg")))) {
              :lang(pag-Tglg, pam-Tglg, war-Tglg, bik-Tglg, hil-Tglg, ilo-Tglg, ceb-Tglg),
              :lang(tbw-Tglg, bku-Tglg, hnn-Tglg, tl-Tglg),
              :lang(phi-Tglg, fil-Tglg) {
                font-style: normal; /* ensure there are no italic and oblique styles */
                font-synthesis: weight; /* only allow 'bold' synthesis */
              }
            }
            @supports (selector(:lang(phi-Hano, fil-Hano))) and (not (selector(:lang("\*-Hano")))) {
              :lang(pag-Hano, pam-Hano, war-Hano, bik-Hano, hil-Hano, ilo-Hano, ceb-Hano),
              :lang(tbw-Hano, bku-Hano, hnn-Hano, tl-Hano),
              :lang(phi-Hano, fil-Hano) {
                font-style: normal; /* ensure there are no italic and oblique styles */
                font-synthesis: weight; /* only allow 'bold' synthesis */
              }
            }
            @supports (selector(:lang(phi-Buhd, fil-Buhd))) and (not (selector(:lang("\*-Buhd")))) {
              :lang(pag-Buhd, pam-Buhd, war-Buhd, bik-Buhd, hil-Buhd, ilo-Buhd, ceb-Buhd),
              :lang(tbw-Buhd, bku-Buhd, hnn-Buhd, tl-Buhd),
              :lang(phi-Buhd, fil-Buhd) {
                font-style: normal; /* ensure there are no italic and oblique styles */
                font-synthesis: weight; /* only allow 'bold' synthesis */
              }
            }
            @supports (selector(:lang(phi-Tagb, fil-Tagb))) and (not (selector(:lang("\*-Tagb")))) {
              :lang(pag-Tagb, pam-Tagb, war-Tagb, bik-Tagb, hil-Tagb, ilo-Tagb, ceb-Tagb),
              :lang(tbw-Tagb, bku-Tagb, hnn-Tagb, tl-Tagb),
              :lang(phi-Tagb, fil-Tagb) {
                font-style: normal; /* ensure there are no italic and oblique styles */
                font-synthesis: weight; /* only allow 'bold' synthesis */
              }
            }
          /* END: :lang(C, C, C) */

          /* BGN: :lang("\*-C") */
            @supports (not (selector(:lang("\*-Tglg", "\*-Hano", "\*-Buhd", "\*-Tagb")))) and (selector(:lang("\*-Tglg"))) {
              :lang(\*-Tglg), :lang(\*-Hano), :lang(\*-Buhd), :lang(\*-Tagb) {
                font-style: normal; /* ensure there are no italic and oblique styles */
                font-synthesis: weight; /* only allow 'bold' synthesis */
              }
            }
          /* END: :lang("\*-C") */
        /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

        /* BGN: :lang("\*-C", "\*-C", "\*-C") */
          @supports (selector(:lang("\*-Tglg", "\*-Hano", "\*-Buhd", "\*-Tagb"))) and (selector(:lang("\*-Tglg"))) {
            :lang(\*-Tglg, \*-Hano, \*-Buhd, \*-Tagb) {
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
            }
          }
        /* END: :lang("\*-C", "\*-C", "\*-C") */
      /* END: Pilipino in Baybayin script */
    /* END: Pilipino */

/* Supposed to be in font-defaults.scss */
    /* BGN: Pilipino */
      /* BGN: Pilipino in Latin script */
        /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
          @supports not (selector(:lang(phi, fil, en-PH))) {
            :lang(pag), :lang(pam), :lang(war), :lang(bik), :lang(hil), :lang(ilo), :lang(ceb),
            :lang(tbw), :lang(bku), :lang(hnn), :lang(tl),
            :lang(phi), :lang(fil), :lang(en-PH) {
              font-family: var(--font-sans-noto);
            }
          }
        /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

        @supports selector(:lang(phi, fil, en-PH)) {
          :lang(pag, pam, war, bik, hil, ilo, ceb),
          :lang(tbw, bku, hnn, tl),
          :lang(phi, fil, en-PH) {
            font-family: var(--font-sans-noto);
          }
        }
      /* END: Pilipino in Latin script */

      /* BGN: Pilipino in Baybayin script */
        /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
          @supports not ((selector(:lang(phi-Tglg, fil-Tglg))) and (selector(:lang("\*-Tglg")))) {
            :lang(pag-Tglg), :lang(pam-Tglg), :lang(war-Tglg), :lang(bik-Tglg), :lang(hil-Tglg), :lang(ilo-Tglg), :lang(ceb-Tglg),
            :lang(tbw-Tglg), :lang(bku-Tglg), :lang(hnn-Tglg), :lang(tl-Tglg),
            :lang(phi-Tglg), :lang(fil-Tglg) {
              font-family: var(--font-pilipino-sans-noto, sans-serif);
            }
          }
          @supports not ((selector(:lang(phi-Hano, fil-Hano))) and (selector(:lang("\*-Hano")))) {
            :lang(pag-Hano), :lang(pam-Hano), :lang(war-Hano), :lang(bik-Hano), :lang(hil-Hano), :lang(ilo-Hano), :lang(ceb-Hano),
            :lang(tbw-Hano), :lang(bku-Hano), :lang(hnn-Hano), :lang(tl-Hano),
            :lang(phi-Hano), :lang(fil-Hano) {
              font-family: var(--font-pilipino-sans-noto, sans-serif);
            }
          }
          @supports not ((selector(:lang(phi-Buhd, fil-Buhd))) and (selector(:lang("\*-Buhd")))) {
            :lang(pag-Buhd), :lang(pam-Buhd), :lang(war-Buhd), :lang(bik-Buhd), :lang(hil-Buhd), :lang(ilo-Buhd), :lang(ceb-Buhd),
            :lang(tbw-Buhd), :lang(bku-Buhd), :lang(hnn-Buhd), :lang(tl-Buhd),
            :lang(phi-Buhd), :lang(fil-Buhd) {
              font-family: var(--font-pilipino-sans-noto, sans-serif);
            }
          }
          @supports not ((selector(:lang(phi-Tagb, fil-Tagb))) and (selector(:lang("\*-Tagb")))) {
            :lang(pag-Tagb), :lang(pam-Tagb), :lang(war-Tagb), :lang(bik-Tagb), :lang(hil-Tagb), :lang(ilo-Tagb), :lang(ceb-Tagb),
            :lang(tbw-Tagb), :lang(bku-Tagb), :lang(hnn-Tagb), :lang(tl-Tagb),
            :lang(phi-Tagb), :lang(fil-Tagb) {
              font-family: var(--font-pilipino-sans-noto, sans-serif);
            }
          }

          /* BGN: :lang(C, C, C) */
            @supports (selector(:lang(phi-Tglg, fil-Tglg))) and (not (selector(:lang("\*-Tglg")))) {
              :lang(pag-Tglg, pam-Tglg, war-Tglg, bik-Tglg, hil-Tglg, ilo-Tglg, ceb-Tglg),
              :lang(tbw-Tglg, bku-Tglg, hnn-Tglg, tl-Tglg),
              :lang(phi-Tglg, fil-Tglg) {
                font-family: var(--font-pilipino-sans-noto, sans-serif);
              }
            }
            @supports (selector(:lang(phi-Hano, fil-Hano))) and (not (selector(:lang("\*-Hano")))) {
              :lang(pag-Hano, pam-Hano, war-Hano, bik-Hano, hil-Hano, ilo-Hano, ceb-Hano),
              :lang(tbw-Hano, bku-Hano, hnn-Hano, tl-Hano),
              :lang(phi-Hano, fil-Hano) {
                font-family: var(--font-pilipino-sans-noto, sans-serif);
              }
            }
            @supports (selector(:lang(phi-Buhd, fil-Buhd))) and (not (selector(:lang("\*-Buhd")))) {
              :lang(pag-Buhd, pam-Buhd, war-Buhd, bik-Buhd, hil-Buhd, ilo-Buhd, ceb-Buhd),
              :lang(tbw-Buhd, bku-Buhd, hnn-Buhd, tl-Buhd),
              :lang(phi-Buhd, fil-Buhd) {
                font-family: var(--font-pilipino-sans-noto, sans-serif);
              }
            }
            @supports (selector(:lang(phi-Tagb, fil-Tagb))) and (not (selector(:lang("\*-Tagb")))) {
              :lang(pag-Tagb, pam-Tagb, war-Tagb, bik-Tagb, hil-Tagb, ilo-Tagb, ceb-Tagb),
              :lang(tbw-Tagb, bku-Tagb, hnn-Tagb, tl-Tagb),
              :lang(phi-Tagb, fil-Tagb) {
                font-family: var(--font-pilipino-sans-noto, sans-serif);
              }
            }
          /* END: :lang(C, C, C) */

          /* BGN: :lang("\*-C") */
            @supports (not (selector(:lang("\*-Tglg", "\*-Hano", "\*-Buhd", "\*-Tagb")))) and (selector(:lang("\*-Tglg"))) {
              :lang(\*-Tglg), :lang(\*-Hano), :lang(\*-Buhd), :lang(\*-Tagb) {
                font-family: var(--font-pilipino-sans-noto, sans-serif);
              }
            }
          /* END: :lang("\*-C") */
        /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

        /* BGN: :lang("\*-C", "\*-C", "\*-C") */
          @supports (selector(:lang("\*-Tglg", "\*-Hano", "\*-Buhd", "\*-Tagb"))) and (selector(:lang("\*-Tglg"))) {
            :lang(\*-Tglg, \*-Hano, \*-Buhd, \*-Tagb) {
              font-family: var(--font-pilipino-sans-noto, sans-serif);
            }
          }
        /* END: :lang("\*-C", "\*-C", "\*-C") */
      /* END: Pilipino in Baybayin script */
    /* END: Pilipino */
/* Supposed to be in font-defaults.scss */
