/***
  * Webfonts CSS
  *
  * Websites:
  *   * Profile: https://iam.youronly.one
  *   * YourOnly.One™: https://youronly.one
  *   * Yelosan Publishing: https://yelosan.youronly.one
  *
  * Contact:
  *   * Fediverse: https://c.im/@youronlyone | @youronlyone@c.im
  *   * Facebook: https://fb.me/YourOnly.ONE.ofcl | https://m.me/YourOnly.ONE.ofcl
***/

/***
  * yelosan-fonts.css Copyright © 2003-2023 JC John Sese Cuneta; Yelosan Publishing
  *
  * License: MIT License (MIT)
  *
  * LICENSE: MIT License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
***/

/* BGN: REGULARLY USED */
  @font-face {
    font-family: "phoenician-sans-noto";
    src:  url("../fonts/NotoSansPhoenician-Regular.otf") format("opentype"),
          url("../fonts/NotoSansPhoenician-Regular.ttf") format("truetype"),
          local("Noto Sans Phoenician");
    font-display: swap;
    size-adjust: 100%;
  }

  /* BGN: [Custom] Hebrew-Paleo-Gezer-Unicode */
    @font-face {
      font-family: "hebrew-sans-paleo-gezer";
      src:  url("../fonts/hebrew-paleo-gezer-pure-unicode-webfont.woff2") format("woff2"),
            url("../fonts/hebrew-paleo-gezer-pure-unicode-webfont.woff") format("woff"),
            url("../fonts/hebrew-paleo-gezer-pure-unicode-webfont.ttf") format("opentype"),
            local("Hebrew Paleo Gezer"), /* full font name */
            local("Hebrew-Paleo-Gezer"); /* Postscript name */
      font-display: swap;
      size-adjust: 100%;
      unicode-range: U+10900-1091F;
    }
  /* END: [Custom] Hebrew-Paleo-Gezer-Unicode */
/* END: REGULARLY USED */

/* BGN: RARELY USED */
  /* BGN: [Custom] Hebrew-Proto-Canaanite-Unicode */
    @font-face {
      font-family: "hebrew-sans-proto-canaanite";
      src:  url("../fonts/proto-canaanite-pure-unicode-webfont.woff2") format("woff2"),
            url("../fonts/proto-canaanite-pure-unicode-webfont.woff") format("woff"),
            url("../fonts/proto-canaanite-pure-unicode-webfont.ttf") format("opentype"),
            local("Proto Canaanite"), /* full font name */
            local("Proto-Canaanite"); /* Postscript name */
      font-display: swap;
      size-adjust: 100%;
      unicode-range: U+10900-1091F;
    }
  /* END: [Custom] Hebrew-Proto-Canaanite-Unicode */
/* END: RARELY USED */

/** BGN: root and classes **/
  /*
  * 1. If the font is not a subset, the base font has to be declared first.
  *   Example, we need Noto Sans to ensure the Latin scripts still have font-weight when mixed with non-Latin Noto fonts.
  * 2. Do not use var(), it will not work correctly.
  */
  :root {
    --font-hebr-sans-noto: "noto-sans", "Noto Sans", "phoenician-sans-noto", "Noto Sans Phoenician", "hebrew-sans-noto", "Noto Sans Hebrew"; /* Different Unicode blocks. */
    --font-hebr-serif-noto: "noto-serif", "Noto Serif", "hebrew-serif-noto", "Noto Serif Hebrew";
    --font-hebr-sans-paleo-gezer: "noto-sans", "Noto Sans", "hebrew-sans-paleo-gezer";
    --font-hebr-sans-proto-canaanite: "noto-sans", "Noto Sans", "hebrew-sans-proto-canaanite";
  }
  .font-hebrew-sans-noto.font-hebrew-sans-noto.font-hebrew-sans-noto, /* backwards compatibility */
  .font-hebr-sans-noto.font-hebr-sans-noto.font-hebr.sans-noto {
    direction: rtl;
    font-family: var(--font-hebr-sans-noto), sans-serif;
  }
  .font-hebrew-serif-noto.font-hebrew-serif-noto.font-hebrew-serif-noto, /* backwards compatibility */
  .font-hebr-serif-noto.font-hebr-serif-noto.font-hebr-serif-noto {
    direction: rtl;
    font-family: var(--font-hebr-serif-noto), serif;
  }
  .font-hebrew-sans-paleo-gezer.font-hebrew-sans-paleo-gezer.font-hebrew-sans-paleo-gezer, /* backwards compatibility */
  .font-hebr-sans-paleo-gezer.font-hebr-sans-paleo-gezer.font-hebr-sans-paleo-gezer {
    direction: rtl;
    font-family: var(--font-hebr-sans-paleo-gezer);
  }
  .font-hebrew-sans-proto-canaanite.font-hebrew-sans-proto-canaanite.font-hebrew-sans-proto-canaanite, /* backwards compatibility */
  .font-hebr-sans-proto-canaanite.font-hebr-sans-proto-canaanite.font-hebr-sans-proto-canaanite {
    direction: rtl;
    font-family: var(--font-hebr-sans-proto-canaanite);
  }
/** END: :root and classes **/

    /* BGN: Hebrew & Paleo-Hebrew */
      /* NOTES: https://en.wikipedia.org/wiki/ISO_15924 && https://en.wikipedia.org/wiki/ISO_639-3
          * he- or heb- - modern Hebrew
          * hbo- - ancient Hebrew
          * -Hebr - modern Hebrew script
          * -Phnx - Paleo-Hebrew script
      */

      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not (selector(:lang(he, hbo))) {
          :lang(he),
          :lang(hbo) {
            direction: rtl; /* Be sure to also set dir="rtl" in HTML. */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
          }
        }
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      @supports selector(:lang(he, hbo)) {
        :lang(he, hbo) {
          direction: rtl; /* Be sure to also set dir="rtl" in HTML. */
          font-style: normal; /* ensure there are no italic and oblique styles */
          font-synthesis: weight; /* only allow 'bold' synthesis */
        }
      }

      :lang(he) { /* Modern Hebrew */
        font-language-override: "IWR";
      }
      /*
      :lang(hbo) { /* Paleo-Hebrew * /
      }
      */
    /* END: Hebrew & Paleo-Hebrew */
