@charset "UTF-8";
/***
  * Do not use @import
***/

/***
  * Webfonts CSS
  *
  * Websites:
  *   * Profile: https://iam.youronly.one
  *   * YourOnly.One™: https://youronly.one
  *   * Yelosan Publishing: https://yelosan.youronly.one
  *
  * Contact:
  *   * Fediverse: https://c.im/@youronlyone | @youronlyone@c.im
  *   * Facebook: https://fb.me/YourOnly.ONE.ofcl | https://m.me/YourOnly.ONE.ofcl
***/

/***
  * yelosan-fonts.css Copyright © 2003-2023 JC John Sese Cuneta; Yelosan Publishing
  *
  * License: MIT License (MIT)
  *
  * LICENSE: MIT License
  *   Permission is hereby granted, free of charge, to any person obtaining a copy
  *   of this software and associated documentation files (the "Software"), to deal
  *   in the Software without restriction, including without limitation the rights
  *   to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
  *   copies of the Software, and to permit persons to whom the Software is
  *   furnished to do so, subject to the following conditions:
  *
  *   The above copyright notice and this permission notice shall be included in all
  *   copies or substantial portions of the Software.
  *
  *   THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  *   IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  *   FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
  *   AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  *   LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
  *   OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
  *   SOFTWARE.
***/

/***
  * Based on:
  *
  *   * CSS Fonts Module Level 4
  *      * WD, 2018-09-20
  *      * https://www.w3.org/TR/css-fonts-4/
  *      * See: see @font-face
  *   * CSS Fonts Module Level 3
  *      * REC, 2018-09-20
  *      * https://www.w3.org/TR/css-fonts-3/
  *
  *   * Selectors Level 4
  *      * WD, 2018-11-21
  *      * https://www.w3.org/TR/selectors-4/
  *      * See: :dir() and :lang(*-Latn)
  *          * 2020-06-07: do not use wildcard, it's terminating CSS in Chrome 85.0.4164.2;
  *
***/

/***************
** BGN: SHIMS **
***************/
  /* No longer needed, leaving here in case we encounter fringe cases
    [dir="ltr"],
    bdo[dir="ltr"],
    :dir(ltr) {
      direction: ltr;
    }
    [dir="rtl"],
    bdo[dir="rtl"],
    :dir(rtl) {
      direction: rtl;
    }
  */

  /* No longer needed, leaving here in case we encounter fringe cases
    [dir='ltr'] {
      unicode-bidi: embed;
      unicode-bidi: isolate;
    }
    [dir='rtl'] {
      unicode-bidi: embed;
      unicode-bidi: isolate;
    }
    bdo[dir='ltr'] {
      unicode-bidi: bidi-override;
      unicode-bidi: isolate-override;
    }
    bdo[dir='rtl'] {
      unicode-bidi: bidi-override;
      unicode-bidi: isolate-override;
    }
  */
/***************
** END: SHIMS **
***************/

/************************
** BGN: Default styles **
************************/
  /*
  [class^="nums-" i] {
    font-family: "Source Sans Pro", sans-serif;
  }
  [class$="-sans" i] {
    font-family: var(--font-sans-default);
  }
  [class$="-serif" i] {
    font-family: var(--font-serif-default);
  }
  [class$="-mono" i] {
    font-family: var(--font-mono-sans-default);
  }
  */

  /* OpenType Superscript (sups) */
    sup, .superscript {
      /* font-variant-position: super; */
    }
  /* OpenType Subscript (subs) */
    sub, .subscript {
      /* font-variant-position: sub; */
    }
  /* OpenType small-caps (smcp) */
    .small-caps {
      font-variant-caps: small-caps;
    }
  /* OpenType all-small-caps (c2sc) */
    .small-caps-all {
      font-variant-caps: all-small-caps;
    }
  /* OpenType petite-caps (pcap) */
    .petite-caps {
      font-variant-caps: petite-caps;
    }
  /* OpenType all-petite-caps (c2pc, pcap) */
    .petite-caps-all {
      font-variant-caps: all-petite-caps;
    }
  /* OpenType unicase (unic) */
    .unicase {
      font-variant-caps: unicase;
    }
  /* OpenType titling-caps (titl) */
    .titling-caps {
      font-variant-caps: titling-caps;
    }
/************************
** END: Default styles **
************************/

/***************
** BGN: FONTS **
***************/
  /* BGN: MOST USED */
    /* BGN: Special Characters */
      /* &-sign / ampersand */
      /*
      @font-face {
        font-family: "ampersand";
        src:  local(""), /* full font name
              local(""), /* Postscript name
              url("../fonts/ampersand-regular-webfont.woff2") format("woff2"),
              url("../fonts/ampersand-regular-webfont.woff") format("woff"),
              url("../fonts/ampersand-regular-webfont.ttf") format("opentype");
        font-display: swap;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        unicode-range: U+20B1; /* Peso currency
        unicode-range: U+0025-00FF, U+4??; /* sample
      }
      */
    /* END: Special Characters */
  /* END: MOST USED */

  /* BGN: LANG */
    /* BGN: Greek & Ancient Greek */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not (selector(:lang(el, grc))) {
          :lang(el),
          :lang(grc) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
          }
        }
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      @supports selector(:lang(el, grc)) {
        :lang(el, grc) {
          direction: ltr; /* Be sure to also set dir="ltr" in HTML. */
          font-style: normal; /* ensure there are no italic and oblique styles */
          font-synthesis: weight; /* only allow 'bold' synthesis */
        }
      }

      :lang(el) { /* Modern Greek */
        font-language-override: "ELL";
      }
      /*
      :lang(grc) { /* Ancient Greek * /
      }
      */
    /* END: Greek & Ancient Greek */

    .reset-1_25em { /* e.g. use for -Tglg and -Hebr scripts when there are Latin-scripts within the same element */
      font-size: 0.8em;
    }
  /* END: LANG */

  /* BGN: NotoSans */
    .font-grek-sans-noto {
      direction: ltr;
      font-family: var(--font-grek-sans-noto), sans-serif; /* Force override */
    }
    .font-grek-serif-noto {
      direction: ltr;
      font-family: var(--font-grek-serif-noto), serif; /* Force override */
    }
  /* END: NotoSans */

  .large {
    font-size: large;
  }
  .xlarge {
    font-size: x-large;
  }
  .xxlarge {
    font-size: xx-large;
  }
  .larger {
    font-size: larger;
  }

    /* BGN: Latin script */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not ((selector(:lang(yue-jyutping, zh-yue-jyutping))) and (selector(:lang("\*-Latn")))) {
          :lang(yue-jyutping), :lang(zh-yue-jyutping),
          :lang(zh-Latn),
          :lang(ja-Latn),
          :lang(ko-Latn),
          :lang(he-Latn), :lang(hbo-Latn),
          :lang(el-Latn), :lang(grc-Latn) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
            font-language-override: normal; /* needed because :lang(C) is a wildcard match */
            font-style: revert;
            font-synthesis: revert;
          }
        }

        /* BGN: :lang(C, C, C) */
          @supports (selector(:lang(yue-jyutping, zh-yue-jyutping))) and (not (selector(:lang("\*-Latn")))) {
            :lang(yue-jyutping, zh-yue-jyutping),
            :lang(zh-Latn, ja-Latn, ko-Latn),
            :lang(he-Latn, hbo-Latn),
            :lang(el-Latn, grc-Latn) {
              direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
              font-language-override: normal; /* needed because :lang(C) is a wildcard match */
              font-style: revert;
              font-synthesis: revert;
            }
          }
        /* END: :lang(C, C, C) */

        /* BGN: :lang("\*-C") */
          @supports (not (selector(:lang("\*-jyutping", "\*-Latn")))) and (selector(:lang("\*-Latn"))) {
            :lang(\*-jyutping),
            :lang(\*-Latn) {
              direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
              font-language-override: normal; /* needed because :lang(C) is a wildcard match */
              font-style: revert;
              font-synthesis: revert;
            }
          }
        /* END: :lang("\*-C") */
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      /* BGN: :lang("\*-C", "\*-C", "\*-C") */
        @supports (selector(:lang("\*-jyutping", "\*-Latn"))) and (selector(:lang("\*-Latn"))) {
          :lang(\*-jyutping, \*-Latn) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
            font-language-override: normal; /* needed because :lang(C) is a wildcard match */
            font-style: revert;
            font-synthesis: revert;
          }
        }
      /* END: :lang("\*-C", "\*-C", "\*-C") */
    /* END: Latin script */

    /* BGN: Hangeul (script) */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not ((selector(:lang(phi-Hang, fil-Hang))) and (selector(:lang("\*-Hang")))) {
          :lang(pag-Hang), :lang(pam-Hang), :lang(war-Hang), :lang(bik-Hang), :lang(hil-Hang), :lang(ilo-Hang), :lang(ceb-Hang),
          :lang(tbw-Hang), :lang(bku-Hang), :lang(hnn-Hang), :lang(tl-Hang),
          :lang(phi-Hang), :lang(fil-Hang) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
            font-language-override: "PIL"; /* needed because :lang(C) is a wildcard match */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
            font-variant-east-asian: full-width;
          }
        }

        /* BGN: :lang(C, C, C) */
          @supports (selector(:lang(phi-Hang, fil-Hang))) and (not (selector(:lang("\*-Hang")))) {
            :lang(pag-Hang, pam-Hang, war-Hang, bik-Hang, hil-Hang, ilo-Hang, ceb-Hang),
            :lang(tbw-Hang, bku-Hang, hnn-Hang, tl-Hang),
            :lang(phi-Hang, fil-Hang) {
              direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
              font-language-override: "PIL"; /* needed because :lang(C) is a wildcard match */
              font-style: normal; /* ensure there are no italic and oblique styles */
              font-synthesis: weight; /* only allow 'bold' synthesis */
              font-variant-east-asian: full-width;
            }
          }
        /* END: :lang(C, C, C) */
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      /* BGN: :lang("\*-C") */
        @supports selector(:lang("\*-Hang")) {
          :lang(\*-Hang) {
            direction: ltr; /* Be sure to also set dir="ltr" in HTML. */ /* needed because :lang(C) is a wildcard match */
            font-language-override: normal; /* needed because :lang(C) is a wildcard match */
            font-style: normal; /* ensure there are no italic and oblique styles */
            font-synthesis: weight; /* only allow 'bold' synthesis */
            font-variant-east-asian: full-width;
          }
        }
      /* END: :lang("\*-C") */
    /* END: Hangeul (script) */
/***************
** END: FONTS **
***************/

/* Supposed to be in font-defaults.scss */
    /* BGN: Latin script */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not ((selector(:lang(yue-jyutping, zh-yue-jyutping))) and (selector(:lang("\*-Latn")))) {
          :lang(yue-jyutping), :lang(zh-yue-jyutping),
          :lang(zh-Latn),
          :lang(ja-Latn),
          :lang(ko-Latn),
          :lang(he-Latn), :lang(hbo-Latn),
          :lang(el-Latn), :lang(grc-Latn) {
            font-family: var(--font-sans-noto);
          }
        }

        /* BGN: :lang(C, C, C) */
          @supports (selector(:lang(yue-jyutping, zh-yue-jyutping))) and (not (selector(:lang("\*-Latn")))) {
            :lang(yue-jyutping, zh-yue-jyutping),
            :lang(zh-Latn, ja-Latn, ko-Latn),
            :lang(he-Latn, hbo-Latn),
            :lang(el-Latn, grc-Latn) {
              font-family: var(--font-sans-noto);
            }
          }
        /* END: :lang(C, C, C) */

        /* BGN: :lang("\*-C") */
          @supports (not (selector(:lang("\*-jyutping", "\*-Latn")))) and (selector(:lang("\*-Latn"))) {
            :lang(\*-jyutping),
            :lang(\*-Latn) {
              font-family: var(--font-sans-noto);
            }
          }
        /* END: :lang("\*-C") */
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      /* BGN: :lang("\*-C", "\*-C", "\*-C") */
        @supports (selector(:lang("\*-jyutping", "\*-Latn"))) and (selector(:lang("\*-Latn"))) {
          :lang(\*-jyutping, \*-Latn) {
            font-family: var(--font-sans-noto);
          }
        }
      /* END: :lang("\*-C", "\*-C", "\*-C") */
    /* END: Latin script */

    /* BGN: Hangeul (script) */
      /* BGN: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */
        @supports not ((selector(:lang(phi-Hang, fil-Hang))) and (selector(:lang("\*-Hang")))) {
          :lang(pag-Hang), :lang(pam-Hang), :lang(war-Hang), :lang(bik-Hang), :lang(hil-Hang), :lang(ilo-Hang), :lang(ceb-Hang),
          :lang(tbw-Hang), :lang(bku-Hang), :lang(hnn-Hang), :lang(tl-Hang),
          :lang(phi-Hang), :lang(fil-Hang) {
            font-family: var(--font-hang-sans-noto);
          }
        }

        /* BGN: :lang(C, C, C) */
          @supports (selector(:lang(phi-Hang, fil-Hang))) and (not (selector(:lang("\*-Hang")))) {
            :lang(pag-Hang, pam-Hang, war-Hang, bik-Hang, hil-Hang, ilo-Hang, ceb-Hang),
            :lang(tbw-Hang, bku-Hang, hnn-Hang, tl-Hang),
            :lang(phi-Hang, fil-Hang) {
              font-family: var(--font-hang-sans-noto);
            }
          }
        /* END: :lang(C, C, C) */
      /* END: Dark Age (“spiritual successor of IE6”) engines like Chromium! BOO! */

      /* BGN: :lang("\*-C") */
        @supports selector(:lang("\*-Hang")) {
          :lang(\*-Hang) {
            font-family: var(--font-hang-sans-noto);
          }
        }
      /* END: :lang("\*-C") */
    /* END: Hangeul (script) */
/* Supposed to be in font-defaults.scss */
